
<MudNavMenu>
    <MudNavLink Href="">Home</MudNavLink>

    <MudNavLink Href="counter">
        <span class="oi oi-plus" aria-hidden="true"></span> Counter
    </MudNavLink>
    <MudNavLink Href="fetchdata">
        <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
    </MudNavLink>
    <MudNavLink Href="PickTeam">Pick Team</MudNavLink>
</MudNavMenu>

